<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <link rel="stylesheet" href="app/assets/stylesheets/statuses.css.scss" type="text/css" media="screen">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        		</a>
				<a href="#" class="brand">Treebook</a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav">
						<li><%= link_to "All Statuses", statuses_path %></li>
						<li><a href="#">Home</a></li>
						<li><a href="#">Mas salsa?</a></li>
						<li class="dropdown open">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Frijoles Negros 
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Mas taquitos?</a>
								</li>
								<li>
									<a href="#">Mas frijoles negros?</a>
								</li>
								<li>
									<a href="#">Tu quieres mas salsa?!!</a>
								</li>
								<li class="divider"></li>
								<li class="nav-header">La Salsa</li>
								<li><a href="#">Bien Salsa</a>
								<li><a href="#">El mejor salsa</a>
							</ul>
						</li>
					</ul>



				</div>
				

			</div>
		</div>
	</div>
	<div class="container">

		<h1>Treebook</h1>
		<%= yield %>
		<em>Copyright frijoles negros</em>
	</div>

</body>
</html>
